.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

.display-2--intro {
    display: inline-block;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.btn-rounded {
    position: relative;
    padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    border: 0.1rem solid rgba(255, 255, 255, 0.6);
    background-color: #fff;
    display: block;
  }
  .btn-rounded span {
    position: absolute;
    background-color: #9926f0;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .btn-rounded span i {
    color: #fff;
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .btn-rounded:hover {
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    color: #fff;
  }
  .btn-rounded:hover span {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .border-primary {
    border-color: #9926f0 !important;
}



.btn-outline-primary {
    color: #9926f0;
    border-color: #9926f0;
    --bs-btn-color: #9926f0;
    --bs-btn-border-color: #9926f0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9926f0;
    --bs-btn-hover-border-color: #9926f0;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9926f0;
    --bs-btn-active-border-color: #9926f0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #9926f0;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9926f0;
    --bs-gradient: none;
}

.display-2--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
.button, select {
    text-transform: none;
}
.btn-rounded span {
    position: absolute;
    background-color: #9926f0;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn-rounded {
    position: relative;
    padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
    font-weight: 700;
    margin: 0;
    border: 0.1rem solid rgba(255, 255, 255, 0.6);
    background-color: #fff;
    display: block;
}

@media (min-width: 992px) {
    .display-2--description {
        font-size: 1.4rem;
        display: inline-block;
    }
}

.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: #9926f0;
}

.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #9926f0;
}

.display-3 {
    font-family: "Poppins", sans-serif;
}

.display-3--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    background-image: linear-gradient(to right, #9926f0, #d122e3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 992px) {
    .display-3--title {
        font-size: 1.8rem;
    }
}

.border-right {
    border-right: 0;
}

@media (min-width: 576px) {
    .border-right {
        border-right: 0.1rem solid #dee2e6;
        height: 100%;
    }
}

.gradient {
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
}

.menu {
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
}

.menu li {
    padding: 0 0.7rem;
}

.menu li a {
    color: #fff;
    padding: 0 0.7rem;
    text-transform: capitalize;
    font-weight: 600;
}

.menu li:hover {
    color: #fff;
}

.intro-section {
    background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}

.intros .video-box {
    position: relative;
}

.intros .video-box a span i {
    font-size: 6rem;
    color: #d122e3;
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid #fff;
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;
}

.border-animation--border-1 {
    animation-delay: 1s;
}

.border-animation--border-2 {
    animation-delay: 1.5s;
}

.education {
    position: relative;
    padding: 1rem 0;
}


.skills {
    position: relative;
    padding: 1rem 0;
}

.skills__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.skills__content button {
    margin-right: 5px;
    margin-top: 5px;
    font-size: x-large;
}

.certificates {
    position: relative;
    padding: 1rem 0;
    margin-top: 10px;
}

.img__border {
    border: #0d6efd;
}

.projects {
    position: relative;
    padding: 0;
}

.projects__content {
    padding: 1rem;
    margin-top: 0;
}

.projects__content p {
    font-size: 0.8rem;
}

@media (min-width: 992px) {
    .projects__content p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .projects__content {
        margin-top: 5rem;
    }
}

.projects__content .icon {
    font-size: 1.5rem;
    color: #9926f0;
}

@media (min-width: 992px) {
    .projects__content .icon {
        font-size: 2.5rem;
    }
}

.projects__pic {
    max-width: 100%;
}

.footer {
    padding-top: 1rem;
    background-color: #151414;
}

.contact-box {
    position: relative;
}

.contact-box__icon {
    width: 2rem;
    stroke: #9926f0;
    padding-top: 0.5rem;
}

@media (min-width: 576px) {
    .contact-box__icon {
        width: 4rem;
    }
}

.contact-box__info {
    padding: 0.4rem;
    font-weight: 600;
}

.contact-box__info--title {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

@media (min-width: 576px) {
    .contact-box__info--title {
        font-size: 1.4rem;
    }
}

.contact-box__info--subtitle {
    font-size: 0.8rem;
    color: #6c757d;
    text-decoration: none;
}

@media (min-width: 576px) {
    .contact-box__info--subtitle {
        font-size: 1rem;
    }
}

.footer-sm a {
    color: #fff;
}

.footer-sm a i {
    font-size: 1rem;
    margin-left: 1rem;
}

@media (min-width: 576px) {
    .footer-sm a i {
        font-size: 1.6rem;
    }
}

.footer-sm a:hover {
    color: #9926f0;
}

.campany-list {
    display: block;
    list-style-type: none;
    position: relative;
}

.campany-list li {
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.campany-list li a {
    color: #fff;
    text-decoration: none;
}

.campany-list li a:hover {
    color: #9926f0;
}

.footer-bottom {
    background-color: #000;
}

.footer-bottom__copyright {
    color: #6c757d;
    font-weight: 400;
}

.footer-bottom__copyright a {
    color: #dee2e6;
    text-decoration: none;
}

.footer-bottom__copyright a:hover {
    color: #9926f0;
    text-decoration: underline;
}

.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
}
.rounded-circle {
    border-radius: 50% !important;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-primary {
    color: #fff;
    background-color: #9926f0;
    border-color: #9926f0;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #8220cc;
    border-color: #7a1ec0;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #8220cc;
    border-color: #7a1ec0;
    box-shadow: 0 0 0 0.25rem rgba(168, 71, 242, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7a1ec0;
    border-color: #731db4;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(168, 71, 242, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #9926f0;
    border-color: #9926f0;
  }
.back-to-top i {
    color: #fff;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}